body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    text-align: center;
    background-color: lightgray;
}

#title{
    padding-left: 40px;
}

.list{
    
    max-width: 550px;
  margin: 0 auto 20px auto;
  text-align: left;
}

.desc{
    margin: 0 auto 50px auto;
    max-width: 50%;
}

img {
    width: 500px;
    height: auto;
    padding: 20px;
    object-fit: contain;
  }

  .menu{
    list-style-type: none;
  }

  a{
    font-size: 30px;
    font-weight: bold;
    color: black;
  }